name: Publish Python Package

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    permissions:
      contents: read
    uses: ./.github/workflows/build.yml

  verify-build:
    needs: [build]
    permissions:
      contents: read
    uses: ./.github/workflows/test-build.yml

  publish:
    runs-on: ubuntu-latest
    needs: [build, verify-build]
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.artifact-name }}
          path: .
      - uses: pypa/gh-action-pypi-publish@release/v1
