name: 'Test: Host Unit Tests'

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          cache: 'pip'

      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Install Python dependencies and frooky .[dev]
        run: |
          python -m pip install --upgrade pip
          python -m pip install dist/*.whl
          python -m pip install '.[dev]'

      - name: Run host unit tests  
        run: pytest tests/unit
