name: Python Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.14'
          cache: 'pip'
      - name: Install dependencies
        run: |
          pip install -e .[dev]
      - name: Run tests
        run: pytest
