name: 'Test: Unit Tests Host'

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Install from wheel
        run: |
          python -m pip install dist/*.whl

      - name: Run host unit tests  
        run: pytest tests/unit
