name: Test iOS Agent

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  stub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run stub action  --This should only run, when new agent code is committed, as it is an expensive test
        run: echo "This will do in the future:\n\n  - Load the ios target\n  - run node run test:ios"
