name: 'Test: Host Integrations Tests Android'

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 

      # TODO: Do a nice prod/dev build we can reuse
      # -------------------------------------------
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: 'npm'
          cache-dependency-path: './frooky/agent/package-lock.json'
      - run: chmod +x compileAgent.sh
      - run: ./compileAgent.sh --dev

      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install Python from [dev]
        run: python -m pip install -e '.[dev]'
      # -------------------------------------------

      - name: Install Maestro
        run: |
          curl -Ls "https://get.maestro.mobile.dev" | bash
          echo "${HOME}/.maestro/bin" >> $GITHUB_PATH

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Start Android Emulator and run integration tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          target: google_apis
          arch: x86_64
          emulator-options: -wipe-data -no-snapshot-save -no-snapshot-load -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim
          disable-animations: true
          script: |
            chmod +x .github/scripts/android/prep-device.sh
            .github/scripts/android/prep-device.sh

            chmod +x .github/scripts/android/install-frida-server.sh
            .github/scripts/android/install-frida-server.sh

            # Install the app APK
            cd docs/examples/android-app && unzip -o MASTG-DEMO-0060.apk.zip && adb install -r MASTG-DEMO-0060.apk
            cd ../../..

            # Run pytest while emulator is still running
            pytest tests/integration

